body{
    background: url(painted-g5d9e20e29_1920.png); background-size: 1600px; background-repeat: no-repeat;
}
.gif{
    position: absolute; top: 10%; left: 30%;
}
.cap2 input{
    position: absolute; top: 77%; left: 43.5%; background: grey; width: 10%; border-radius: 10%; border: 1px solid white;
    font-size: 18px; cursor: pointer; box-shadow: 0 0 5px 5px grey; color: whitesmoke; font-family: fantasy; letter-spacing: 2px;
}
.cap1{
    text-shadow: 3px 2px 1px white; background:linear-gradient(900deg, rgba(34, 193, 195, 1) 0%, rgb(240, 45, 235, 1) 100%);
    -webkit-background-clip: text; -webkit-text-fill-color: transparent; position: absolute; top: 9%; left: 34%; font-size: 40px;
    
}